.my-image {
  filter:  drop-shadow(16px 16px #003E85);
}

.info {
  width: 110px;
  height: 45px;
}

.info-data {
  font-size: 0.6em;
}

.info-value {
  font-size: 0.7em;
  background: linear-gradient(
    to right,
    #0175fa,
    #01f9fc
  ); /* Adjust colors as needed */
  -webkit-background-clip: text;
  color: transparent;
}

